:root {
    --color-bg: #ffffff;
    --color-bg-1: #f0e9e9;
    --color-text: #000000;
    --color-primary: #007bff;
    --gradient-color-1: #9bb2c8;
    --gradient-color-2: #79addc;
    --gradient-color-3: #16a5e7;
    --gradient-color-4: #4571da;
  }