.chat-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  .output-area {
    width: 100%;
    height: calc(100% - 120px);
    overflow: auto;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    .answer-container {
      min-width: 420px;
      max-width: 960px;
      word-break:keep-all;
      text-overflow: ellipsis;
    }
  }
  .input-area {
    position: absolute;
    bottom: 4px;

    .self-textarea {
      min-height: 80px;
      width: 500px;
      background-color: var(--color-bg-1);
      border-radius: 16px;
      padding: 0 0 40px 0;
      color: var(--color-text);
      background-color: var(--color-bg-1);
      border: none;
    }
    .self-textarea:focus-within {
      border: none;
      box-shadow: none;
    }
    .self-button {
      margin-right: 20px;
      text-align: right;
      width: auto;
      position: absolute;
      bottom: 8px;
      right: 10px;
      z-index: 10;
    }
  }
}
