.self-app-container {
  position: relative;
  height: calc(100vh - 70px);
  width: 100%;

  .app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 90px);
    margin-top: 70px;
    .side-container {
      width: auto;
      overflow-y: auto;
      overflow-x:hidden;
      background-color: var(--color-bg);
    }
    .char-container {
      flex: 3;
      padding: 10px 0px;
      background-color: var(--color-footer);
    }
  }
  .footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: var(--color-footer);
    color: var(--color-text-1);
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    box-shadow: 12px 13px 20px 0px black;
  }
}
